<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <style>
      *{
  margin:0;
  padding:0;
  font-family:  sans-serif;
  
}
html,body{
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    background-color: rgb(86, 199, 86);
}
a{
    text-decoration:none;
}


nav{
   background: white;
   display: flex;
   justify-content: space-between;
   box-shadow:0 8px 16px rgb(95, 95, 95);
   padding: 30px 60px;
}
nav h1{
  border-bottom:4px solid green;
}
nav ul{
  justify-content: space-around;
  display: flex;
  align-items: center;
  
}
nav li{
 
  list-style: none;
  padding-right: 30px;
}

nav a{
  color:green;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}

nav a:hover{
  color: rgb(0, 0, 0);
}

.fac{
  height: 80px;
  width:800px;
  background-color: white;
  box-shadow:0 8px 16px rgb(95, 95, 95);
  border-radius: 300px;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top: 20px;
}
.fa{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  justify-content: space-between;
  height: 500pxS;
}


  </style>
    <script>
        var user=[
        {{#each facname}}
            {
                name:'{{name}}',

            }
        {{/each}}
        ];
    </script>
</head>

<body>
     <nav>
      <h1>The University</h1>
        <ul>
          <li><a href="home.hbs"> <b>Home</b></a></li>
          <li><a href="index.hbs"><b>Faculty</b></a></li>
          <li><a href="adminlogin.hbs"><b>Admin</b></a></li>
          <li><a href=""><b>Aboutus</b></a></li>
        </ul>
        
    </nav>
    <div>
        <form action="/auth/facassign" method="POST">
        <label for="name">FACULTY:</label>
        <select name="name" id="name">
            <option value="none">-none-</option>
           
            {{#each facname}}
             <option value="{{this.name}}">{{this.name}}</option>
                
            {{/each}}
        </select>
        <label for="role">ROLE:</label>
        <select name="role" id="role">
            <option value="none">-none-</option>
            <option value="CI">CI</option>
            <option value="AF">AF</option>
        </select>
        <input type="submit">
        </form>
        
       

        
    </div>

</body>
</html>